:root {
  --first: blue;
  --white: #fff;
  --black: #000;
  --orange: #fb8500;
  --bg: #24263b;
  --bg-light: #fbfbfb;
}

.primary-btn,
.second-btn {
  background-color: transparent;
  margin: 0 5px;
  padding: 12px 30px;
  font-size: 20px;
}
.primary-btn {
  color: var(--white);
  border: 1px solid var(--white);
}
.second-btn {
  color: var(--black);
  border: 1px solid var(--black);
}

.highlighted-btn,
.second-highlighted-btn {
  margin: 0 5px;
  padding: 12px 30px;
  font-size: 20px;
}
.highlighted-btn {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--white);
}
.second-highlighted-btn {
  color: var(--white);
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

.second-btn:hover {
  color: var(--white);
}
.primary-btn:hover {
  color: var(--black);
}

.primary-btn:hover,
.second-btn:hover,
.highlighted-btn:hover {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  transition: 0.2s ease-out;
}

/* Title of the head section*/
.title-global {
  color: var(--orange);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.pragraph-global {
  color: var(--black);
  font-size: 20px;
}
